<div id="post" class="card mb-4 shadow p-3 mb-5 bg-body rounded" style="width: 100%; max-width: 1700px; margin: auto;">
    <div class="row g-0">
        <!-- 圖片區 40% -->
        <div id="imageBlock" class="col-md-5 carousel slide" data-bs-ride="carousel" style="background-color: #eee; height: auto;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="img-fluid img-thumbnail" alt="圖片區1">
                </div>
                <div class="carousel-item">
                    <img src="..." class="img-fluid img-thumbnail" alt="圖片區2">
                </div>
                <div class="carousel-item">
                    <img src="..." class="img-fluid img-thumbnail" alt="圖片區3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageBlock" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageBlock" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- 資料區 60% -->
        <div id="dataBlock" class="col-md-7">
            <!-- 上懸bar-->
            <nav id="upperBar" class="navbar navbar-light bg-light px-3 py-4">
                <h3>資料區</h3>
            </nav>
            <!-- 資料列表 -->
            <div id="dataTable"class="card-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>地址</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>租金</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>坪局</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>格局</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>寵物</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>養魚</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>開伙</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>電梯</th>
                        <td>text</td>
                    </tr>
                    <tr>
                        <th>聯絡方式</th>
                        <td>text</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 收藏按鈕 -->
            <div class="d-flex justify-content-end mb-3" style="padding-right: 20px;">
                <button id="colletBtn" class="btn btn-outline-primary">
                    收藏
                </button>
            </div>
        </div>
    </div>
</div>